on: push

jobs:
    replicate-file:
        runs-on: ubuntu-latest
        name: Replicate File
        
        steps:
        - name: Checkout Project A
          uses: actions/checkout@v3
          with:
            path: ./source-directory/origin

        - name: Checkout Project B
          uses: actions/checkout@v3
          with: 
            repository: jrobalino/target-directory
            token: ${{ secrets.ACTIONS_TOKEN }}
            path: ./target-directory

        - name: Copy/Create file
          run: |
            cp -R ./source-directory/origin/hello.json ./target-directory/destination/goodbye.json

        - name: Push Project B
          run: |
            cd ./target-directory
            git add .
            git config user.name github-actions
            git config user.email github-actions@github.com
            git commit -am "File Replicated from Project A"
            git push